@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
}

.ProseMirror p.is-editor-empty::before {
  content: attr(data-placeholder);
  color: #aaa;
  float: left;
  height: 0;
  pointer-events: none;
  user-select: none;
}

:root {
  /* --background: #eceff1; */
  --background: #ecf1ef;
  --bg-seonday: oklch(1 0 0);
  --bg-third: #ecf1ef;
  --bg-fourth: oklch(1 0 0);
  --color-bg-primary: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --item-bg: oklch(1 0 0);
  --box-bg: oklch(1 0 0);
  --box-bg-selected: #e5e7eb;
  --box-text: oklch(0.145 0 0);
  --text-base: #4b5563;
  --text-blur: #4b5563;
  --hover-bg: oklch(0.92 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --btn-bg: #f3f4f6;
  --btn-border: #d1d5db;
  --btn-hover-bg: #e5e7eb;
  --btn-hover-border: #9ca3af;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: white;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --logo-name-gradient: linear-gradient(to right, #f59e0b, #c2410c);
}

.dark {
  --background: #111827;
  --bg-seonday: #1f2937;
  --bg-third: #1f2937;
  --bg-fourth: #111827;
  --color-bg-primary: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --item-bg: #374151;
  --box-bg: #1f2a36;
  --box-bg-selected: #4b5563;
  --box-text: oklch(0.2 0 0);
  --text-base: #d1d5db;
  --text-blur: #9ca3af;
  --hover-bg: oklch(46.585% 0.00256 16.113);
  --card: #111827;
  --card-foreground: oklch(0.985 0 0);
  --btn-bg: #2c3e50;
  --btn-border: #9ca3af;
  --btn-hover-bg: #3a5163;
  --btn-hover-border: #9ca3af;
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.48 0.01 260);
  --input: #1f2937;
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --logo-name-gradient: linear-gradient(to right, #f59e0b, #c2410c);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --logo-name-gradient: linear-gradient(to right, #f59e0b, #c2410c);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  p,
  h2,
  h3,
  div {
    color: var(--foreground);
  }

  label {
    color: var(--text-base);
  }

  button {
    cursor: pointer;
  }

  input {
    @apply flex-1 border-none bg-transparent p-0 focus:outline-none focus:ring-0 text-gray-900 dark:text-gray-100 placeholder-gray-400 dark:placeholder-gray-500;
  }
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--box-bg);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5d70;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #61728a;
}

/* Firefox 대응 */
.dark {
  scrollbar-color: #4b5d70 #2a3b4c;
  scrollbar-width: thin;
}

@layer components {
  .inputDivStyle {
    @apply flex items-center rounded-md px-3 py-2 text-sm text-gray-700 dark:text-gray-300 transition-colors duration-300 border border-gray-300 dark:border-gray-600 focus-within:border-2 focus-within:border-gray-700 dark:focus-within:border-blue-500;
    background-color: var(--input);
  }

  .inputDivStyle-noFocus {
    @apply flex items-center rounded-md px-3 py-2 text-sm text-gray-700 dark:text-gray-300 transition-colors duration-300 border border-gray-300 dark:border-gray-600;
    background-color: var(--input);
  }

  .cardStyle {
    @apply shadow-2xl rounded-lg border border-gray-200 dark:border-gray-700 transition-colors duration-300;
    background-color: var(--item-bg);
    box-shadow:
      0 -1px 4px rgba(0, 0, 0, 0.3),
      0 4px 6px rgba(0, 0, 0, 0.7);
    animation: shadowColorChangeLight 6s ease-in-out infinite;
  }

  .dark .cardStyle {
    border-color: #3b82f6;
    animation: shadowColorChangeDark 6s ease-in-out infinite;
  }

  /* 버튼 그라디언트 애니메이션 */
  .animated-gradient-btn {
    @apply transition-opacity duration-300 rounded-xl;

    background-size: 300% 300%;
    animation: gradientShiftLight 6s ease infinite;
    background-image: linear-gradient(to right, #0ea5e9, #14b8a6);
  }

  .dark .animated-gradient-btn {
    animation: gradientShiftDark 6s ease infinite;
    background-image: linear-gradient(to right, #2563eb, #4f46e5);
  }
}

@layer utilities {
  @keyframes fillGradient {
    0% {
      transform: translateX(-100%);
      opacity: 0.4;
    }
    50% {
      transform: translateX(0%);
      opacity: 0.9;
    }
    100% {
      transform: translateX(100%);
      opacity: 0.4;
    }
  }

  @keyframes shadowColorChangeLight {
    0%,
    100% {
      box-shadow:
        0 0 12px 3px rgba(250, 235, 215, 0.8),
        /* antiquewhite */ 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    33% {
      box-shadow:
        0 0 12px 3px rgba(255, 182, 193, 0.8),
        /* lightpink */ 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    66% {
      box-shadow:
        0 0 12px 3px rgba(255, 222, 173, 0.8),
        /* navajowhite */ 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  @keyframes shadowColorChangeDark {
    0%,
    100% {
      box-shadow:
        0 0 12px 3px rgba(59, 130, 246, 0.8),
        /* blue */ 0 4px 8px rgba(0, 0, 0, 0.9);
    }
    33% {
      box-shadow:
        0 0 12px 3px rgba(139, 92, 246, 0.8),
        /* purple */ 0 4px 8px rgba(0, 0, 0, 0.9);
    }
    66% {
      box-shadow:
        0 0 12px 3px rgba(14, 203, 203, 0.8),
        /* teal */ 0 4px 8px rgba(0, 0, 0, 0.9);
    }
  }

  @keyframes gradientShiftLight {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradientShiftDark {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .logo-name {
    @apply font-extrabold tracking-wide bg-clip-text text-transparent drop-shadow-sm mb-2 text-center;
    background-image: var(--logo-name-gradient);
  }
}
