// style.module.scss
.editorContent {
  :global(.ProseMirror) {
    border: none !important;
    outline: none;
  }

  img {
    object-fit: contain;
    border-radius: 4px;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.25rem;
  }
}
